<footer class="footer-section">
  <div class="footer-container">
    <div class="conf-image">
      <img src="../2020/assets/images/bg/Pyconf-2020-03.svg" alt="Pyconf hyderabad"/>
    </div>

    <div class="copyright-details">
      <div class="copyright-text">Copyright 2020 Pyconf hyderabad</div>
      <div class="copyright-logo"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></div>
    </div>

    <div class="social-media-details">

      <div class="sm-div">
        <a href="https://twitter.com/pyconfhyd" rel="nofollow noreferrer" target="_blank">
          <img src="../2020/assets/images/logo/twitter-logo.svg" alt="twitter">
        </a>
      </div>

      <div class="sm-div">
        <a href="https://github.com/HydPy/pyconfhyd2020" rel="nofollow noreferrer" target="_blank">
          <img src="../2020/assets/images/logo/github-logo.svg" alt="github">
        </a>
      </div>

      <div class="sm-div">
        <a href="https://hydpy.zulipchat.com/" rel="nofollow noreferrer" target="_blank">
          <img src="../2020/assets/images/logo/chat-logo.svg" alt="zulip">
        </a>
      </div>

    </div>

  </div>
</footer>
