<footer class="footer-section">
  <div class="footer-container">
    <div class="conf-image">
      <img loading="lazy" src="../2020/assets/images/bg/Pyconf-2020-03.svg" alt="Pyconf hyderabad" width="200" height="200" />
    </div>

    <div class="copyright-details">
      <p class="copyright-text">Copyright 2020 PyConf Hyderabad</p>
      <div class="copyright-logo"><img loading="lazy" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></div>
    </div>

    <div class="social-media-details">

      <div class="sm-div">
        <a href="https://twitter.com/pyconfhyd" rel="nofollow noreferrer" target="_blank">
          <span class="icon-twitter icon-circle"></span>
        </a>
      </div>

      <div class="sm-div">
        <a href="https://github.com/HydPy/pyconfhyd2020" rel="nofollow noreferrer" target="_blank">
          <span class="icon-github icon-circle"></span>
        </a>
      </div>

      <div class="sm-div">
        <a href="https://hydpy.zulipchat.com/" rel="nofollow noreferrer" target="_blank">
          <span class="icon-chat icon-circle"></span>
        </a>
      </div>

    </div>

  </div>
  <hr />
  <div class="footer-section__previous-links">
    <a class="cta" href="https://pyconf.hydpy.org/2019">PyConf Hyderabad 2019</a>
    <a class="cta" href="https://pyconf.hydpy.org/2017">PyConf Hyderabad 2017</a>
  </div>
</footer>