<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PyConf Hyderabad 2020</title>
  <meta name="description" content="PyConf Hyderabad is an yearly tech conference about python, its projects and development." />
  <meta name="author" content="HydPy Hyderabad">
  <meta name="keywords" content="PyConf, python, 2020, Hyderabad, pyconf hyderabad 2020, data science, machine learning, conference, tech conference">
  <meta name="robots" content="index, follow">
  <meta name="title" content="PyConf Hyderabad 2020">

  <!-- meta open-graph -->
  <meta property="og:title" content="PyConf Hyderabad 2020" />
  <meta property="og:locale" content="en" />
  <meta property="og:description" content="PyConf Hyderabad is an yearly tech conference about python, its projects and development." />
  <meta property="og:url" content="https://pyconf.hydpy.org/2020/" />
  <meta property="og:type" content="website" />

  <!-- meta twitter -->
  <meta name="twitter:title" content="PyConf Hyderabad 2020" />
  <meta name="twitter:description" content="PyConf Hyderabad is an yearly tech conference about python, its projects and development." />
  <meta name="twitter:url" content="https://pyconf.hydpy.org/2020/"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@pyconfhyd">
  <meta name="twitter:creator" content="@pyconfhyd">

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
    rel="stylesheet"
  />
  <!-- Preload assets-->
  <link
    rel="preload"
    href="{{ 'assets/css/main.css' | relative_url }}"
    as="style"
  />

  <!-- main CSS -->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
</head>
