<main class="main-hero">
  <div class="hero-wrapper">
    <img
      src="{{ 'assets/images/bg/Pyconf-2020-03.svg' | relative_url }}"
      alt="Pyconf Hyderabad 2020"
    />
      <div class="call-for-speakers">
      <a
        class="cta"
        href="https://www.youtube.com/playlist?list=PL4jRm9g5TaAr6XX_tDYycVDc_fd3z46fj"
        title="See PyConf 2020 videos"
        target="_blank"
        rel="noopener"
        >Videos</a
      >
      <a
        class="cta disabled"
        title="(Sold out) Buy tickets for PyConf Hyderabad 2020"
        target="_blank"
        rel="noopener"
        disabled
        style="opacity: 0.6;"
        >Buy tickets<br>
        <span>(Sold out)</span></a
      >
    </div>
    <div class="info">
      <span>5th - 6th December 2020</span>
      <span><strong>(Virtual 💻)</strong></span>
    </div>
  </div>
</main>
