<main class="main-hero">
  <div class="hero-wrapper">
    <img
      src="{{ 'assets/images/bg/Pyconf-2020-03.svg' | relative_url }}"
      alt="Pyconf Hyderabad 2020"
    />
      <div class="call-for-speakers">
      <a
        href="https://www.townscript.com/e/pyconf-hyderabad-2020"
        class="cta"
        title="Buy tickets for PyConf Hyderabad 2020"
        target="_blank"
        rel="noopener"
        >Buy tickets</a
      >
      <a
        href="https://www.papercall.io/pyconf-hyd-2020"
        class="cta"
        title="Call for Speakers, Submit your talk"
        target="_blank"
        rel="noopener"
        >Submit talk</a
      >
    </div>
    <div class="info">
      <span>5th - 6th December 2020</span>
      <span><strong>(Virtual 💻)</strong></span>
    </div>
  </div>
</main>
