<nav class="menu-wrapper">
<a href="#" > <img
      src="{{ 'assets/images/bg/Pyconf-2020-03.svg' | relative_url }}"
      alt="Pyconf Hyderabad 2020"
    /></a>
<label for="toggle">
 <div class="toggle-button">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>
</label>
<input type="checkbox" id="toggle"/> 
     <div class="navbar-links">
      <ul>
   
    <li><a href="{{site.baseurl}}/"> Home</a></li>
    <li><a
      title="Buy tickets"
      href="https://www.townscript.com/e/pyconf-hyderabad-2020"
      target="_blank"
      rel="noopener"
      >Tickets</a
    ></li>
   <li> <a href="{{site.baseurl}}/#schedule">Schedule</a></li>
   <li> <a href="{{site.baseurl}}/#community-partners">Community Partners</a></li>
    <li><a href="{{site.baseurl}}/about.html">About</a></li>
    <li><a href="{{site.baseurl}}/coc.html">COC</a></li>
  </ul>
</div>
  </nav>
