<div class="menu-wrapper">
  <nav>
    <a href="{{site.baseurl}}/"> Home</a>
    <a
      title="Buy tickets"
      href="https://www.townscript.com/e/pyconf-hyderabad-2020"
      target="_blank"
      rel="noopener"
      >Tickets</a
    >
    <a href="{{site.baseurl}}/#schedule">Schedule</a>
    <a href="{{site.baseurl}}/#community-partners">Community Partners</a>
    <a href="{{site.baseurl}}/job-board.html">Job Board</a>
    <a href="{{site.baseurl}}/about.html">About</a>
    <a href="{{site.baseurl}}/coc.html">COC</a>
  </nav>
</div>
