<section id="speakers" class="wrapper speakers-section">
  <h2>Keynote Speakers</h2>
  <div class="speaker-container">
    {% for speaker in site.speakers %}
    <div class="speaker-card">
      <div class="speaker-card__img">
        <a href="{{speaker.url | relative_url}}" itemprop="image">
          <img
            loading="lazy"
            src="{{speaker.image | relative_url}}"
            alt="{{speaker.name}}"
            width="240"
            height="240"
          />
        </a>
      </div>
      <div class="speaker-card__name">
        <h3>{{speaker.name}}</h3>
      </div>
      <div class="speaker-card__title">{{speaker.title}}</div>
    </div>
    {% endfor %}
  </div>
</section>
