<section id="speakers" class="wrapper speakers-section">
  <h2 class="special-bg" aria-label="keynote speakers">Keynote Speakers</h2>
  {% assign speakersPerContainer = 2 %}
  {% assign numContainers = site.speakers | size | divided_by: speakersPerContainer %}
  
  {% if site.speakers.size | modulo: speakersPerContainer > 0 %}
    {% assign numContainers = numContainers | plus: 1 %}
  {% endif %}
  
  {% assign endIndex = numContainers | minus: 1 %}
  
  {% for containerNum in (0..endIndex) %}
  {% assign offset = containerNum | times: speakersPerContainer %}
  <div class="speaker-container">
      {% for speaker in site.speakers limit: speakersPerContainer offset: offset %}
      <div class="speaker-card">
        <div class="speaker-card__img">
          <a href="{{speaker.url | relative_url}}" itemprop="image">
            <img
              class="img-special"
              loading="lazy"
              src="{{speaker.image | relative_url}}"
              alt="{{speaker.name}}"
              width="320"
              height="320"
            />
          </a>
        </div>
        <div class="speaker-card__name">
          <h3>{{speaker.name}}</h3>
        </div>
        <div class="speaker-card__title">{{speaker.title}}</div>
      </div>
      {% endfor %}
  </div>
{% endfor %}
</section>
