footer {
  &.footer-section {
    padding: 2rem 0;
  }
  .footer-container {
    max-width: 58rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .copyright-details {
      text-align: center;
      padding-top: 0.6875rem;
    }
    .social-media-details {
      padding-top: 1.1875rem;
      display: flex;
      justify-content: space-between;
      div {
        margin-right: 2rem;
      }
      img {
        width: 1.75rem;
      }
    }
    .footer-links {
      display: flex;
      flex-direction: column;
      a {
        color: $secondary-color;
        padding-bottom: 0.8rem;
        font-weight: 400;
      }
    }
  }
}