.hero-wrapper {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
  justify-content: space-evenly;
  align-items: center;
  height: 92.3vh;
  img {
    width: 60%;
    filter: drop-shadow(0 0 10px #000);
  }
  .cta {
    padding: 1rem;
    width: 18rem;
    font-size: 2rem;
    text-align: center;
  }
  .cta.disabled {
    padding: 0.6rem;
    width: 14rem;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero-wrapper img {
    width: 100%;
  }
  .hero-wrapper .cta {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: auto;
  }
  .hero-wrapper .cta.disabled {
    padding: 1rem;
    font-size: 1rem;
    width: auto;
  }
}
// info section text
.info {
  background: #fff;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.call-for-speakers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
