.hero-wrapper {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(3px);
  justify-content: space-evenly;
  align-items: center;
  height: 92.3vh;
  img {
    width: 60%;
    filter: drop-shadow(0 0 10px #000);
  }
}

@media (max-width: 768px) {
  .hero-wrapper img {
    width: 100%;
  }
}
// info section text
.info {
  background: #fff;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.call-for-speakers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .cta {
    background-color: $cta-btn-bg;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4;
    text-decoration: none;
    margin: 0.8rem 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover, &:focus{
      background-color: lighten($cta-btn-bg, 10);
      transform: scale(1.05);
    }
  }
}
