.speakers-section {
  .speaker-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    .speaker-card {
      max-width: 24rem;
      padding: 1rem;
      margin: 1rem 0;
      &__img {
        img {
          object-fit: cover;
          border-radius: 50%;
          transition: all 0.9s ease;
          &.community-partners-img {
            border-radius: 5%;
          }
          &.img-special{
             box-shadow: 0 1px 8px #ccc;
            &:hover, &:focus{
              background: rgba(255, 218, 0, 0.6);
              box-shadow: 2px 2px 9px 3px rgba(128,128,128,.81);
              filter: drop-shadow(0 0 10px #ccc);
            }
          }
          &.img-with-bg{
            box-shadow: 0 1px 8px #ccc;
            background: rgba(255, 218, 0, 0.6);
          }
        }
      }
      &__name {
        h3 {
          font-size: 1.4rem;
          font-weight: 600;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      &__title {
      }
    }
  }
}
