.flex {
  display: flex;
  flex: 1;

  &.flex-column {
    flex-direction: column
  }

  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

.no-shadow{
	box-shadow: none !important;
}

.no-radius{
	border-radius: 0 !important;
}

.object-contain{
	object-fit: contain !important;
}

.simple-image{
	@extend .no-shadow;
	@extend .no-radius;
	object-fit: none !important;
}