body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  height: 100%;
  scroll-behavior: smooth;
}

@import "variables";

@import "utils";

@import "commons";

// icons styles
@import "font-icons";

// container styles
@import "container";

// menu wrapper - navbar
@import "menu-wrapper";

// main section - hero banner on homepage
.main-hero {
  background-image: url(../../assets/images/bg/BG-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

// hero banner
@import "hero-banner";

// speakers section styles
@import "speakers";

// schedule section styles
@import "schedule";

// style import for flexible template
@import "flexible";

@import "footer";
